/* =============
    Demo
============= */

.stick{
    border-top: 10px solid $brown;
    width: 800px;
   
 }
 
 .greenCircle{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     background-color: $green;
 }
 
 .whiteCircle{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     background-color: $cream;
 }
 
 .pinkCircle{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     background-color: $pink;
 }