/* =============
    Section 1
============= */
#section-1{
    background-color: $blue;
    color: $white;
    height: 1500px;

    #hero-image { 
        grid-area: hero;
        background-image: url(../assets/lantern-hero.png);
        background-size: cover;
        background-position: center;
        height: 1256px;
        width: 1440px;
        margin-top: 50px;

        #text {
            margin: 0 auto;
            max-width: 55%;
            padding-top: 1200px;
            text-align: justify;
        }
    }
}
