/* =============
    Section 2
============= */
#section-2{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: ". grid-content .";
    
    // @include xl{
    //     display: grid;
    //     grid-template-columns: auto 1200px auto;
    //     grid-template-areas: ". section-2 .";
    //  }
    .grid-content{
        display: grid;
        background-color:$yellow;
        grid-template-areas: 
            ". text1"
            "text2 ."
            ". cloud";
        grid-template-rows: 65vh 60vh;
        grid-template-columns: 1fr 1fr;
        // @include lg {
        //     display: grid;
        //     grid-template-columns: 50% auto;
        //     grid-template-areas: 
        //         "h1 lion"
        //         "h1 p";
        // }

        // @include xl{        
        //     grid-area: section-2;
        // }

        //  #OTM-Dad {
        //     grid-area: dad;
        //     background-image: url(../assets/dad.png);
        //     background-position: left;
        //     background-size: cover;
        //     height: 482px;
        //     width: 482px;
        //     margin: 0 auto;
        // }
        .parent-picture {
            position: absolute;
        }
        
        .dad {
            top: 210vh;
            right: 0px;
            bottom: 0px;
            left: 15vh;
        }
        .mom {
            top: 265vh;
            right: 0px;
            bottom: 0x;
            left: 100vh;
        }
        // #OTM-Mom {
        //     grid-area: mom;
        //     background-image: url(../assets/mom.png);
        //     background-position: center;
        //     background-size: cover;
        //     height: 482px;
        //     width: 482px;
        //     margin: 0 auto;
        //     margin-bottom: 100px;
        // }

        
        #text1{
            grid-area: text1; 
            max-width: 71%;
            margin-left: 70px;
            margin-top: 10%;
        }

        #text2{
            grid-area: text2; 
            margin: 0 auto;
            max-width: 90%;
            padding-left: 40px;
            margin-top: 2%;
        }

        p {
            margin: 20px;
            color: $blue;
        }
    }
}