/* =============
    Header
============= */
#header {

    ul {
        text-align: center;
    }
    opacity: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
    background-color: $blue;

    >div {
        display: grid;
        grid-template-areas: 
            "burger burger"
            "nav nav";

        // #logo-container {
        //     grid-area: logo;
        // }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            grid-area: nav;
            display: none;
            background-color: $yellow;

            @include lg {
                display: block !important;
                background-color: $blue;
                // height: 40px;
                width: 00px;
                height: 50px;
            }
        }

        grid-template-columns: 80% auto;

        @include lg {
            display: grid;
            grid-template-columns: 70% auto;
            grid-template-areas: "logo nav";
            // margin: 30px;
        }

        section {
            i {
                color: $white;
            }
        }
    }
}
